absl-py==0.9.0
affine==2.3.0
aiofiles==0.5.0
aiohttp==3.6.2
alembic==1.4.2
appdirs==1.4.4
APScheduler==3.6.3
astor==0.8.1
async-generator==1.10
async-timeout==3.0.1
autocorrect==2.2.2
bcrypt==3.1.7
blis==0.4.1
boto3==1.14.20
botocore==1.17.20
brotlipy==0.7.0
cachetools==4.1.1
certifi==2021.10.8
chromedriver-binary==77.0.3865.40.0
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
configobj==5.0.6
configparser==5.0.0
cytoolz==0.11.0
dateparser==0.7.6
dateutils==0.6.8
distlib==0.3.0
distro==1.5.0
dnspython==1.16.0
docopt==0.6.2
entrypoints==0.3
et-xmlfile==1.1.0
fbmessenger==6.0.0
Flask==2.0.3
Flask-Bcrypt==0.7.1
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.2.2
gitdb==4.0.5
grpcio==1.30.0
h11==0.8.1
h2==3.2.0
HeapDict==1.0.1
hpack==3.0.0
hstspreload==2020.7.7
httpcore==0.3.0
httplib2==0.18.1
httptools==0.1.1
httpx==0.9.3
humanfriendly==8.2
hyperframe==5.2.0
imageio==2.16.0
isodate==0.6.0
itsdangerous==2.1.0
jmespath==0.10.0
jsonfield==3.1.0
jsonpickle==1.4.1
kafka-python==1.4.7
locket==0.2.1
Mako==1.1.3
nibabel==3.1.1
nsetools==1.0.11
numpy==1.21.5
olefile==0.46
opt-einsum==3.2.1
Pillow==9.0.1
pkginfo==1.7.1
plac==0.9.6
protobuf==3.12.2
prov==1.5.3
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycryptodome==3.9.8
pydot==1.4.1
pydotplus==2.0.2
PyGetWindow==0.0.8
pyglet==1.3.2
PyJWT==1.7.1
pykdtree==1.3.1
pykwalify==1.7.0
pymongo==3.8.0
PyMsgBox==1.0.8
pynput==1.7.6
pyorbital==1.5.0
pyperclip==1.8.0
pypiwin32==223
pyproj==1.9.6
pyreadline==2.1
PyRect==0.1.4
pyresample==1.13.0
PyScreeze==0.1.26
pyspectral==0.9.0
pytesseract==0.3.4
python-crfsuite==0.9.7
python-editor==1.0.4
python-engineio==3.12.1
python-geotiepoints==1.1.8
python-Levenshtein==0.12.0
python-socketio==4.5.1
python-telegram-bot==12.8
pyttsx3==2.90
PyTweening==1.0.3
pywinpty==0.5.7
pyxnat==1.3
PyYAML==5.4.1
pyzbar==0.1.8
questionary==1.5.2
rdflib==5.0.0
requests-async==0.5.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rocketchat-API==1.3.1
rsa==4.6
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
s3transfer==0.3.3
satpy==0.16.1
scikit-learn==0.22.2.post1
simplejson==3.17.2
sklearn-crfsuite==0.3.6
slackclient==2.7.2
smmap==3.0.4
snuggs==1.4.7
SQLAlchemy==1.3.18
sqlparse==0.4.1
tabula-py==2.1.1
tabulate==0.8.7
termcolor==1.1.0
terminado==0.9.4
terminaltables==3.1.0
thinc==7.3.0
trollimage==1.9.0
trollsift==0.3.2
twilio==6.26.3
tzlocal==2.1
ujson==1.35
Unidecode==1.1.1
uritemplate==3.0.1
Wand==0.6.2
webencodings==0.5.1
webexteamssdk==1.3
websockets==8.1
Werkzeug==2.0.3
widgetsnbextension==3.5.1
wincertstore==0.2
xarray==0.15.0
yarl==1.4.2
zict==2.0.0
scipy==1.8.0
spacy==2.2.2
